{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database={{.ProjectName}};Username=keycloak_user;Password=K3ycl0ak_P0stgr3s_2025!"
  },
  "JwtSettings": {
    "SecretKey": "your_very_long_secret_key_at_least_32_characters",
    "Issuer": "{{.ProjectName}}.Api",
    "Audience": "{{.ProjectName}}",
    "ExpiryMinutes": 60
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "UserKeycloakAdmin": {
    "grant_type": "password",
    "client_id": "base-realm",
    "username": "admin_11",
    "password": "Adm1n_K3ycl0ak_2025!",
    "client_secret": "cVelb3KlrZcy9Sud1BHSXEFUTFJez63x",
    "TokenEndpoint": "http://localhost:8080/realms/base-realm/protocol/openid-connect/token",
    "EndpointBase": "http://localhost:8080/admin/realms/base-realm"
  },
  "UserKeycloakClient": {
    "grant_type": "password",
    "client_id": "base-realm",
    "client_secret": "cVelb3KlrZcy9Sud1BHSXEFUTFJez63x",
    "TokenEndpoint": "http://localhost:8080/realms/base-realm/protocol/openid-connect/token",
    "EndpointBase": "http://localhost:8080/realms/base-realm"
  },
  "Keycloak": {
    "Realm": "base-realm",
    "AuthServerUrl": "http://localhost:8080/",
    "Resource": "base-realm",
    "VerifyTokenAudience": false,
    "Credentials": {
      "Secret": "cVelb3KlrZcy9Sud1BHSXEFUTFJez63x"
    },
    "ConfidentialPort": 0,
    "PolicyEnforcer": {
      "Credentials": {}
    }
  }
}
