namespace __ProjectName__.Contracts.Response;

public sealed record AuthKeycloakResponseDTO(
    UserResponseDTO User,
    string AccessToken,
    string RefreshToken,
    IReadOnlySet<string> Roles
);