using __ProjectName__.Domain.Entities;

namespace __ProjectName__.Infrastructure.Data.Models;

public class ProductReadModelDTO
{
    public Guid Id { get; set; }
    public string Name { get; set; } = string.Empty;
    public string Description { get; set; } = string.Empty;
    public decimal Price { get; set; }
    public int Stock { get; set; }
    public bool IsActive { get; set; }
    public DateTime CreatedAt { get; set; }
    public DateTime? UpdatedAt { get; set; }

    public Product ToEntity()
    {
        return Product.Load(
            Id,
            Name,
            Description,
            Price,
            Stock,
            IsActive,
            CreatedAt,
            UpdatedAt);
    }
}