version: "3.8"

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: __ProjectName__
      POSTGRES_USER: keycloak_user
      POSTGRES_PASSWORD: K3ycl0ak_P0stgr3s_2025!
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "keycloak_user"]
      interval: 10s
      timeout: 5s
      retries: 5

  keycloak:
    image: quay.io/keycloak/keycloak:26.1.4
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: __ProjectName__
      KC_DB_USERNAME: keycloak_user
      KC_DB_PASSWORD: K3ycl0ak_P0stgr3s_2025!
      KC_BOOTSTRAP_ADMIN_USERNAME: admin_user
      KC_BOOTSTRAP_ADMIN_PASSWORD: Adm1n_K3ycl0ak_2025!
      KC_IMPORT: /opt/keycloak/data/import/realm-export.json
      KC_HEALTH_ENABLED: true
      KC_METRICS_ENABLED: true
    volumes:
      - ./realm-export.json:/opt/keycloak/data/import/realm-export.json
    ports:
      - "8080:8080"
      - "9000:9000"
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/health/ready"]
      interval: 15s
      timeout: 5s
      retries: 5
    command:
      - "start-dev"
      - "--import-realm"

volumes:
  postgres_data:
