using __ProjectName__.Contracts.Models;
using __ProjectName__.Contracts.Request;
using __ProjectName__.Contracts.Response;

namespace __ProjectName__.Application.Contracts.Interfaces;

public interface IAccountService
{
    Task<AuthResponseDTO> RegisterUserAsync(UserRegisterRequestDTO registerRequest, CancellationToken cancellationToken = default);
    Task<AuthResponseDTO> LoginAsync(UserLoginRequestDTO loginRequest, CancellationToken cancellationToken = default);
    Task<UserResponseDTO> UpdateProfileAsync(string userId, UpdateUserProfileRequestDTO updateRequest, CancellationToken cancellationToken = default);
    Task<KeycloakToken> RefreshTokenAsync(string refreshToken, CancellationToken cancellationToken = default);
}