using __ProjectName__.Contracts.Request;
using __ProjectName__.Contracts.Response;

namespace __ProjectName__.Application.Contracts.Interfaces;

public interface IProductService
{
    Task<ProductResponse?> GetByIdAsync(Guid id);
    Task<IEnumerable<ProductResponse>> GetAllAsync();
    Task<IEnumerable<ProductResponse>> GetActiveAsync();
    Task<ProductResponse> CreateAsync(CreateProductRequest request);
    Task<ProductResponse?> UpdateAsync(Guid id, UpdateProductRequest request);
    Task<bool> DeleteAsync(Guid id);
    Task<ProductResponse?> ActivateAsync(Guid id);
    Task<ProductResponse?> DeactivateAsync(Guid id);
}

