using __ProjectName__.Contracts.Models;
using __ProjectName__.Contracts.Response;
using __ProjectName__.Domain.Entities;

namespace __ProjectName__.Application.DTOMappers;

public static class MappingExtensionsUser
{
    public static AuthResponseDTO ToResponseDTO(this AuthKeycloakResponseDTO authKeycloakResponseDTO)
    {
        return new AuthResponseDTO(
            authKeycloakResponseDTO.User,
            authKeycloakResponseDTO.AccessToken,
            authKeycloakResponseDTO.RefreshToken,
            authKeycloakResponseDTO.Roles
        );
    }

    public static UserResponseDTO ToResponseDTO(this UserMapping user)
    {
        return new UserResponseDTO(user.Id, user.UserName, user.Email);
    }

    public static UserResponseDTO ToResponseDTO(this User user)
    {
        return new UserResponseDTO(user.KeycloakId, user.UserName, user.Email.Value);
    }

    public static IReadOnlyList<UserResponseDTO> ToResponseDTO(this IEnumerable<UserMapping> users)
    {
        return [.. users.Select(user => user.ToResponseDTO())];
    }
}